<thead>
    <tr>
        <th>Job #</th>
        <th>Job</th>
        <th>Monday<br><%= @wbeg.strftime("%-m/%-d") %></th>
        <th>Tuesday<br><%= (@wbeg + 1).strftime("%-m/%-d") %></th>
        <th>Wednesday<br><%= (@wbeg + 2).strftime("%-m/%-d") %></th>
        <th>Thursday<br><%= (@wbeg + 3).strftime("%-m/%-d") %></th>
        <th>Friday<br><%= (@wbeg + 4).strftime("%-m/%-d") %></th>
        <th>Saturday<br><%= (@wbeg + 5).strftime("%-m/%-d") %></th>
        <th>Sunday<br><%= (@wbeg + 6).strftime("%-m/%-d") %></th>
    </tr>
</thead>
<tbody>
<% @jobs.each do |job| %>
    <tr>
        <%# job = @jobs.first %>
        <td><%= job.job_number %></td>
        <td>
            <%= job.name %>
            <%= form_tag(get_job_scopes_path, :method => 'get', remote:true) do %>
                <%= hidden_field_tag 'job', job.id %>
                <%= submit_tag "Show Scopes", :name => nil %>
            <% end %>
        </td>
        <% (0..6).each do |day| %>
            <% this_day = WorkDay.for_day(@wbeg + day).for_job(job) %>
            <td>
            <% if this_day.empty? %>
                <%= "N/A" %>
            <% else %>
                <!--<td>-->
                <% this_day.each do |wday| %>
                    <%#= wday.employee.name + ',' %>
                    <%= form_tag(remove_workday_path, :method => 'delete', remote:true) do %>
                        <%= hidden_field_tag 'workday', wday.id %>
                        <%= submit_tag wday.employee.name + " X", :name => nil %>
                    <% end %>
                <% end %>
            <% end %>
            <%= form_tag(add_workday_path, :method => 'post', remote:true) do %>
                <%= hidden_field_tag 'job', job.id %>
                <%= hidden_field_tag 'day', day %>
                <%= submit_tag "Add Work Day", :name => nil %>
            <% end %>
            </td>
        <% end %>
    </tr>
<% end %>
</tbody>