<p id="notice"><%= notice %></p>

<h1>Weekly Scheduling</h1>
<div class="row fullWidth">
    <div class="small-8 columns">
        <div id = "department_info">
            <%= render "home/department_info" %>
        </div>
        <table id = "main_table">
                <%= render "home/main_table" %>
        </table>
        <div id = "week_links">
            <%= render "home/week_links" %>
        </div>
    </div>
    <div class="small-4 columns">
        <div id = "job_scopes">
            <%= render "home/job_scopes" %>
        </div>
    </div>
</div>
<%#= link_to 'New Work Day Form', new_work_day_path %>
<br>
<div id = "employee_info">
    <%= render "home/employee_info" %>
</div>