<p id="notice"><%= notice %></p>

<h1>Work Day Scheduling</h1>
<div id = "department_info">
    <%= render "home/department_info" %>
</div>
<table>
    <thead>
        <tr>
            <th>Job #</th>
            <th>Job</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
        </tr>
    </thead>
    <tbody id = "main_table">
        <%= render "home/main_table" %>
    </tbody>
</table>
<div id = "week_links">
    <%= render "home/week_links" %>
</div>
<%= link_to 'New Work Day Form', new_work_day_path %>
<div id = "employee_info">
    <%= render "home/employee_info" %>
</div>