<!--<tbody>-->
    <% @scopes.each do |scope| %>
      <tr>
        <td><%= scope.scope_number %></td>
        <td><%= scope.description %></td>
        <td><%= scope.extra %></td>
        <td><%= scope.estimated_hours %></td>
        <td><%= scope.hours %></td>
        <td><%= scope.value %></td>
        <td><%= scope.estimated_gc_due_date.to_date %></td>
        <td><%= scope.actual_gc_due_date.to_date %></td>
        <td><%= scope.notes %></td>
        <td><%= scope.crew_size %></td>
        <td><%= scope.department.name %></td>
        <td><%= scope.job.name %></td>
        <td><%= link_to 'Show', scope %></td>
        <td><%= link_to 'Edit', edit_scope_path(scope) %></td>
        <td><%= link_to 'Destroy', scope, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
<!--</tbody>-->