<p>
  <strong>Scope Number:</strong>
  <%= @scope.scope_number %>
</p>

<p>
  <strong>Description:</strong>
  <%= @scope.description %>
</p>

<p>
  <strong>Extra:</strong>
  <%= @scope.extra %>
</p>

<p>
  <strong>Estimated hours:</strong>
  <%= @scope.estimated_hours %>
</p>

<p>
  <strong>Actual hours:</strong>
  <%= @scope.hours %>
</p>

<p>
  <strong>Value:</strong>
  <%= @scope.value %>
</p>

<p>
  <strong>Estimated gc due date:</strong>
  <%= @scope.estimated_gc_due_date.to_date %>
</p>

<p>
  <strong>Actual gc due date:</strong>
  <%= @scope.actual_gc_due_date.to_date %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @scope.notes %>
</p>

<p>
  <strong>Crew Size:</strong>
  <%= @scope.crew_size %>
</p>

<p>
  <strong>Department:</strong>
  <%= @scope.department.name %>
</p>
<p>
  <strong>Job:</strong>
  <%= @scope.job.name %>
</p>