<p id="notice"><%= notice %></p>
<h1>Listing Scopes</h1>
<%= form_tag(search_path, :method => 'get', remote: true) do %>
<p>
  Search for:
  <%= select_tag "search_action", "<option>Job Number</option><option>Job Name</option><option>Phase</option><option>Cost</option>".html_safe %>
  <%= text_field_tag 'input', nil, placeholder: 'Enter search term...' %>
  <%= submit_tag "Search!", :name => nil %>
</p>
<% end %>

<%= form_tag(filter_date_path, :method => 'get', remote: true) do %>
<p>
  Filter Dates for:
  <%= select_tag "date_type", "<option>Estimated</option><option>Actual</option>".html_safe %>
  Start Date:
  <%= text_field_tag "start_date", nil, class: "datepicker" %>
  End Date:
  <%= text_field_tag "end_date", nil, class: "datepicker" %>
  <%= submit_tag "Filter Dates!", :name => nil %>
</p>
<% end %>

<%= form_tag(filter_misc_path, :method => 'get', remote: true) do %>
<p>
    Miscellaneous Filters:
      <%= submit_tag "Actual GC Due Date Passed" %>
      <%= submit_tag "Show Only Incomplete Scopes" %>
      <%= submit_tag "Show Scopes Missing Actual Due Dates" %>
</p>
<% end %>

<div id = "clear_info">
  <%= render "scopes/clear_info" %>
</div>
<div id = "scopes_list">
  <%= render "scopes/scopes_list" %>
</div>

<br>

<!--div id="new_scope_link">
  <%#= render 'new_scope_link'%>
</div>-->

<%# link_to(new_scope_path, id: 'new_scope_link', class: 'button tiny radius', remote: true) do %>
  <!--Add New Scope Now-->
<%# end %>

<br>

<%= link_to 'New Scope Form', new_scope_path %>

<br>