<%= form_for(@work_day) do |f| %>
  <% if @work_day.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@work_day.errors.count, "error") %> prohibited this work day from being saved:</h2>

      <ul>
      <% @work_day.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :day %><br>
    <%= f.date_select :day %>
  </div>
  <div class="field">
    <%= f.label :job_id %><br>
    <%= f.collection_select :job_id, Job.all, :id, :name, Prompt: "Select Job" %>
  </div>
  <div class="field">
    <%= f.label :employee_id %><br>
    <%= f.collection_select :employee_id, Employee.all, :id, :name, Prompt: "Select Employee" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
