<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>AE LLC Scheduling</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr", "data-turbolinks-track" => false %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
    <%= csrf_meta_tags %>
  </head>

  <body> 
    <%= render :partial => "partials/nav" %>
    <div class="row">
      <% flash.each do |name, msg| %>
        <div data-alert data-options="animation_speed:500, animation:'fadeOut';" class="alert-box <%= flash[:notice] ? "success" : "warning" %> radius">
          <a href="#" class="close">&times;</a>
          <%= msg %>
        </div>
      <% end %>
    </div>
    <div class="small-12 columns" id="main_content">
      <%= yield %>
    </div>
  </body>
</html>